In [72]:
import pandas as pd
import numpy as np
import io
import plotly 
import plotly.graph_objects as go
import plotly.express as px
import scipy.stats as ss
import statsmodels
import statsmodels.stats.proportion as proportion
import statsmodels.stats.multitest as multitest

In [73]:
import warnings
warnings.filterwarnings("ignore")

#### There are two datasets - installs with country and user id and purchases with user id and purchase sum

#### we have to understand if user's behaviuor in terms of payments (convertion and payments sum) varies between UK, US and Canada in our mobile app 


#### all users installed same app version and same amount of days passed for all users

In [76]:
installs=pd.read_csv('materials/users.csv')
purchases=pd.read_csv('materials/purchases.csv')

In [77]:
installs['user_id'].count()

1000

In [78]:
installs['country'].unique()

array(['United States', 'Canada', 'United Kingdom'], dtype=object)

In [79]:
installs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
 1   country  1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [81]:
# lets check purchases dataset
purchases['user_id'].count() #total num of transactions

252

In [82]:
purchases['user_id'].nunique()#unique payers

63

In [83]:
purchases.head()

       user_id  purchase_sum
0  user_id_409         17.99
1  user_id_549          3.49
2  user_id_596         11.99
3  user_id_732         17.99
4  user_id_238          3.49

In [84]:
# mark payers and count convertion to payers (c2p) for all 3 versions

installs['is_payer']=np.where(installs['user_id'].isin(purchases['user_id']),1,0)

In [85]:
# combining joined pivot table with total number of installs and payers for each country

installs_pvt=installs.pivot_table(values=['user_id','is_payer'],
                    index=['country'],
                    aggfunc={'user_id':'count',
                            'is_payer':'sum'})[['user_id','is_payer']]

installs_pvt['c2p%']=round((installs_pvt['is_payer']/installs_pvt['user_id']),3)
installs_pvt=installs_pvt.reset_index()
installs_pvt

          country  user_id  is_payer   c2p%
0          Canada      337        20  0.059
1  United Kingdom      338        25  0.074
2   United States      325        18  0.055

In [87]:
# to find if there is a significant diffirenece berween groups in convertion lets provide chisquare group comparison 
# with bonferroni correction 

trials=np.array(installs_pvt['user_id'])
successes=np.array(installs_pvt['is_payer'])

comparasion=proportion.proportions_chisquare_allpairs(successes, trials, multitest_method='bonferroni').__dict__


# building pairs comparasion dataset 
comparasion_df=pd.DataFrame({'pairs':comparasion.get('all_pairs'),'pval':comparasion.get('pvals_raw')}) 
comparasion_df

    pairs      pval
0  (0, 1)  0.446519
1  (0, 2)  0.826558
2  (1, 2)  0.331492

In [88]:
# as we see there is no significant difference in the convertion lvl as pval > 0.05 for all groups comparasions

In [89]:
# creating purchasese pivot and adding user version 
purchases_pvt=purchases.pivot_table(values=['purchase_sum'],
                     index='user_id',
                     aggfunc='sum').reset_index()


purchases_pvt=purchases_pvt.merge(installs[['user_id','country']],on='user_id',how='left')

In [90]:
purchases_pvt.head(1)

       user_id  purchase_sum         country
0  user_id_107           7.5  United Kingdom

In [91]:
# lets check if there is any difference between payers in their behaviuor. We will use ANOVA 
# (one-factor dispersion analysis) to check if difference between groups will exceed difference inside groups

In [92]:
def anova_3gr(a,b,c, p_val=0.05):
    common=a+b+c  
    df=len(common)-1
    
    #sum of squares of differnece between group's mean and total mean
    ssb=len(a)*((np.mean(a)-np.mean(common))**2)+\
        len(b)*((np.mean(b)-np.mean(common))**2)+\
        len(c)*((np.mean(c)-np.mean(common))**2)
    
    df_ssb = 3 - 1  #number of degrees of freedom for ssb counted as number of groups -1 
    
    #sum of squares of differnece within groups
    ssw=sum([(a[i]-np.mean(a))**2 for i in range(len(a))]) + \
        sum([(b[i]-np.mean(b))**2 for i in range(len(b))]) + \
        sum([(c[i]-np.mean(c))**2 for i in range(len(c))])
    
    df_ssw=len(common) - 3  #number of degrees of freedom within groupd counted as total number of elements - total number of groups
    
    f_stat = (ssb/df_ssb)/(ssw/df_ssw) #counting f value 
    
    pval=ss.f.sf(f_stat, df_ssb, df_ssw)
    
    resuls={'f_stats':f_stat,
           'num_of_df':df,
           'pval':round(pval,5)}
    
    return resuls

In [ ]:
#we have to clean purchasers data set to avoid impact of emissions while making the descision

In [96]:
purchases_pvt_clean=pd.DataFrame(columns=purchases_pvt.columns)

for country in purchases_pvt['country'].unique():
    
    country_df=purchases_pvt[purchases_pvt['country']==country]
    
    # cut of everything upper 90 percentile for each country
    country_df=country_df[country_df['purchase_sum']<np.percentile(country_df['purchase_sum'],90)] 
    
    purchases_pvt_clean=purchases_pvt_clean.append(country_df)

In [98]:
# creating groups from cleaned dataset

group_a=list(purchases_pvt_clean[purchases_pvt_clean['country']=='United States']['purchase_sum'])
group_b=list(purchases_pvt_clean[purchases_pvt_clean['country']=='Canada']['purchase_sum'])
group_c=list(purchases_pvt_clean[purchases_pvt_clean['country']=='United Kingdom']['purchase_sum'])

In [99]:
anova_3gr(group_a,group_b,group_c)

{'f_stats': 1.4319447164205088, 'num_of_df': 55, 'pval': 0.24793}

In [100]:
box_plot=px.box(purchases_pvt, 
                x="country", 
                y="purchase_sum", 
                points='all', 
                title="ARPPU dispersion by country")



plotly.offline.plot(box_plot, filename='./arppu_dispersion.html')

'./arppu_dispersion.html'

### Conclusion: 
    
### as p values are more than 0.05 for chi-squared test for payers cvr and annova test for ARPPU dispersion we dont see any
### statistically confirmed difference between 3 groups of users (based on data we have)